// _footer.scss - Footer styles dengan @use
@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.footer {
    background-color: $primary-color;
    color: $white;
    padding: $spacing-xl 0;
    margin-top: auto;

    .container {
        @include container();
    }


}