// _navigation.scss - Navigation components dengan @use
@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.nav-toggle {
    display: none;
    background: none;
    border: none;
    color: $white;
    font-size: $font-size-2xl;
    cursor: pointer;

    @include respond-to(md) {
        display: none;
    }
}

